{% extends "base.html" %}

{% block title %}Parentopticon One-Time Message Create{% endblock %}

{% block content %}
{% if one_time_messages %}
	<table>
		<tr><th>Username</th><th>Created</th><th>Sent</th><th>Content</th></tr>
		{% for otm in one_time_messages %}
			<tr>
				<td>{{ otm.username }}</td>
				<td>{{ otm.created | humanize }}</td>
				<td>{{ otm.sent | humanize }}</td>
				<td>{{ otm.content }}</td>
			</tr>
		{% endfor %}
	</table>
{% else %}
	<p>None yet</p>
{% endif %}

<form method="POST" action="/config/one-time-message">
	<label for="username">Username:</label>
	<select name="username" {% if not usernames %}disabled{% endif %}>
		{% for username in usernames %}
			<option value="{{ username }}">{{ username }}</option>
		{% endfor %}
	</select>
	<label for="content">Content</label>
	<input type="text" name="content"/>

	<input type="submit"/>
</form>
{% endblock %}
