<html>
<header>
<title>Parentopticon</title>
</header>
<body>
<h1>Parentopticon Main Page</h1>

<h2>Open Program Sessions</h2>
{% if open_sessions %}
<table>
	<tr><th>Name</th><th>Start</th></tr>
	{% for session in open_sessions %}
	<tr>
		<td>{{ session.program }}</td>
		<td>{{ session.start | humanize }}</td>
	</tr>
	{% endfor %}
</table>
{% else %}
	<p>None yet.</p>
{% endif %}

<h2>Closed Program Sessions</h2>
{% if closed_sessions %}
<table>
	<tr><th>Name</th><th>Start</th></tr>
	{% for session in closed_sessions %}
	<tr>
		<td>{{ session.program }}</td>
		<td>{{ session.start | humanize }}</td>
	</tr>
	{% endfor %}
</table>
{% else %}
	<p>None yet.</p>
{% endif %}
</body>
</html>
