{% extends "base.html" %}

{% block title %}Parentopticon Programs{% endblock %}

{% block content %}
<h1>Programs</h1>
{% if programs %}
	<table>
		<tr><th>Name</th></tr>
		{% for program in programs %}
			<tr><td>{{ program.name }}</td></tr>
		{% endfor %}
	</table>
{% else %}
	<p>None yet</p>
{% endif %}

<form method="POST" action="/program">
	<label for="name">Name:</label>
	<input type="text" name="name"/>
	<label for="program_group" name="program_group"/>
	<select name="program_group" {% if not program_groups %}disabled{% endif %}>
		{% for program_group in program_groups %}
			<option value="{{ program_group.id }}">{{ program_group.name }}</option>
		{% endfor %}
	</select>

	<input type="submit"/>
</form>
{% endblock %}
