{% extends "base.html" %}
{% block title %}Parentopticon - Program {{ program.name }}{% endblock %}
{% block content %}
<h1>Program '{{program.name}}'</h1>
<form action="/config/program/{{program.id}}" method="PUT">
	<label for="name">Name:</label>
	<input type="text" name="name" value="{{ program.name }}"/>
	<label for="program_group" name="program_group"/>
	<select name="program_group" {% if not program_groups %}disabled{% endif %}>
		{% for program_group in program_groups %}
			<option value="{{ program_group.id }}">{{ program_group.name }}</option>
		{% endfor %}
	</select>

	<input type="submit" value="Update"/>
</form>
{% endblock %}
