{% extends "base.html" %}

{% block title %}Parentopticon Program Group Create{% endblock %}

{% block content %}
<form method="POST" action="/config/program-group">
	<label for="name">Name:</label>
	<input type="text" name="name"/>
	<label for="minutes_monday">Minutes Monday:</label>
	<input type="number" max="1440" min="-1" name="minutes_monday"/>
	<label for="minutes_tuesday">Minutes Tuesday:</label>
	<input type="number" max="1440" min="-1" name="minutes_tuesday"/>
	<label for="minutes_wednesday">Minutes Wednesday:</label>
	<input type="number" max="1440" min="-1" name="minutes_wednesday"/>
	<label for="minutes_thursday">Minutes Thursday:</label>
	<input type="number" max="1440" min="-1" name="minutes_thursday"/>
	<label for="minutes_friday">Minutes Friday:</label>
	<input type="number" max="1440" min="-1" name="minutes_friday"/>
	<label for="minutes_saturday">Minutes Saturday:</label>
	<input type="number" max="1440" min="-1" name="minutes_saturday"/>
	<label for="minutes_sunday">Minutes Sunday:</label>
	<input type="number" max="1440" min="-1" name="minutes_sunday"/>

	<label for="minutes_weekly">Minutes Weekly:</label>
	<input type="number" max="10080" min="-1" name="minutes_weekly"/>
	<label for="minutes_monthly">Minutes Monthly:</label>
	<input type="number" max="44640" min="-1" name="minutes_monthly"/>

	<input type="submit"/>
</form>
{% endblock %}
